In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import Dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
%matplotlib inline
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_blobs
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from imblearn.over_sampling import RandomOverSampler
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import ClusterCentroids
from imblearn.combine import SMOTEENN

# Read the CSV and Perform Basic Data Cleaning

In [3]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.drop(columns="loan_status")


# Create our target
y = df["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [8]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
loans_binary_encoded = pd.get_dummies(X)
loans_binary_encoded.head()

from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(loans_binary_encoded, y, random_state=78)

X_train.shape

(51612, 95)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [11]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Resample the training data with the BalancedRandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

rf_model = rf_model.fit(X_train_scaled, y_train)

predictions = rf_model.predict(X_test_scaled)

In [12]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, predictions)

In [13]:
acc_score

0.9951176983435048

In [14]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           29           63
Actual 1           21        17092

In [15]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

   high_risk       0.58      0.32      0.41        92
    low_risk       1.00      1.00      1.00     17113

    accuracy                           1.00     17205
   macro avg       0.79      0.66      0.70     17205
weighted avg       0.99      1.00      0.99     17205

In [16]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_

sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.08627911258960778, 'total_rec_prncp'),
 (0.08155801932831544, 'out_prncp'),
 (0.07188367189205937, 'revol_bal'),
 (0.07044417000391184, 'initial_list_status'),
 (0.06588374158445849, 'total_acc'),
 (0.02094138854360952, 'open_acc'),
 (0.019126776843201156, 'pub_rec'),
 (0.018457658382659583, 'installment'),
 (0.018236739055834318, 'acc_open_past_24mths'),
 (0.015774067818371953, 'all_util'),
 (0.015440720420496334, 'delinq_2yrs'),
 (0.014946852356459463, 'out_prncp_inv'),
 (0.014259832217611342, 'total_rev_hi_lim'),
 (0.014254292452671478, 'inq_last_12m'),
 (0.01401552380706667, 'annual_inc'),
 (0.013728404898026866, 'num_tl_30dpd'),
 (0.013348303172698884, 'num_tl_op_past_12m'),
 (0.013246909264575678, 'mths_since_rcnt_il'),
 (0.013167803212803355, 'open_il_12m'),
 (0.012496698009897523, 'last_pymnt_amnt'),
 (0.012191730029268875, 'max_bal_bc'),
 (0.012182495818707804, 'loan_amnt'),
 (0.01213150944687995, 'num_tl_90g_dpd_24m'),
 (0.011429686848405283, 'tot_coll_amt'),
 (0.011400436942091318, 'open_il_24m'),
 (0.01122097747657079, 'tot_cur_bal'),
 (0.011145951572959877, 'pct_tl_nvr_dlq'),
 (0.010763040031680842, 'home_ownership'),
 (0.010716142949995223, 'int_rate'),
 (0.010673412605698136, 'acc_now_delinq'),
 (0.010596404674681587, 'inq_last_6mths'),
 (0.010564355678438908, 'avg_cur_bal'),
 (0.010217332616984454, 'delinq_amnt'),
 (0.009836123052610234, 'chargeoff_within_12_mths'),
 (0.009227482636377293, 'open_rv_12m'),
 (0.009151152413806653, 'mo_sin_rcnt_rev_tl_op'),
 (0.009066476182755329, 'num_actv_rev_tl'),
 (0.008818533270227682, 'mths_since_recent_bc'),
 (0.00881576679565877, 'bc_open_to_buy'),
 (0.008219371258728288, 'num_actv_bc_tl'),
 (0.008166666378487432, 'num_accts_ever_120_pd'),
 (0.00806406484716955, 'il_util'),
 (0.007760459592093738, 'mths_since_recent_inq'),
 (0.007691767027662353, 'open_rv_24m'),
 (0.007353449312803615, 'num_rev_accts'),
 (0.007300390668152572, 'num_rev_tl_bal_gt_0'),
 (0.0071363823359205875, 'pymnt_plan'),
 (0.0070310146370783835, 'mort_acc'),
 (0.006893912901021619, 'mo_sin_rcnt_tl'),
 (0.006886704389603249, 'num_op_rev_tl'),
 (0.006658691410292698, 'mo_sin_old_rev_tl_op'),
 (0.006506921399398753, 'open_act_il'),
 (0.00613727007359379, 'collections_12_mths_ex_med'),
 (0.006023595887692729, 'total_bal_il'),
 (0.005980641619521762, 'application_type'),
 (0.005759188292882067, 'bc_util'),
 (0.005104969345272351, 'debt_settlement_flag'),
 (0.005000123807962567, 'issue_d'),
 (0.004760557010003905, 'next_pymnt_d'),
 (0.004661155536300911, 'open_acc_6m'),
 (0.003738609500684149, 'collection_recovery_fee'),
 (0.003508590989370393, 'policy_code'),
 (0.003042536694067927, 'verification_status'),
 (0.0028376584898032473, 'mo_sin_old_il_acct'),
 (0.0027723383980573957, 'hardship_flag'),
 (0.002563486002550047, 'num_sats'),
 (0.0022090785606082414, 'total_il_high_credit_limit'),
 (0.0021148399103409184, 'dti'),
 (0.0019160910275253739, 'total_bal_ex_mort'),
 (0.0019017169110963435, 'tot_hi_cred_lim'),
 (0.0017110666040512494, 'tax_liens'),
 (0.001704164441511048, 'total_bc_limit'),
 (0.001502791605132718, 'pub_rec_bankruptcies'),
 (0.0013013555288502179, 'num_il_tl'),
 (0.001095043415228698, 'total_rec_int'),
 (0.0003572193478160611, 'inq_fi'),
 (0.0002722974045363867, 'percent_bc_gt_75'),
 (0.0, 'total_rec_late_fee'),
 (0.0, 'total_pymnt_inv'),
 (0.0, 'total_pymnt'),
 (0.0, 'total_cu_tl'),
 (0.0, 'recoveries'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'num_bc_tl'),
 (0.0, 'num_bc_sats')]

### Easy Ensemble AdaBoost Classifier

In [17]:
# Train the EasyEnsembleClassifier
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.997
Accuracy score (validation): 0.995

Learning rate:  0.1
Accuracy score (training): 0.997
Accuracy score (validation): 0.995

Learning rate:  0.25
Accuracy score (training): 0.996
Accuracy score (validation): 0.994

Learning rate:  0.5
Accuracy score (training): 0.996
Accuracy score (validation): 0.994

Learning rate:  0.75
Accuracy score (training): 0.994
Accuracy score (validation): 0.991

Learning rate:  1
Accuracy score (training): 0.995
Accuracy score (validation): 0.994

In [18]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

      Prediction    Actual
3297    low_risk  low_risk
47738   low_risk  low_risk
64369   low_risk  low_risk
21868   low_risk  low_risk
67187   low_risk  low_risk
14175   low_risk  low_risk
30313   low_risk  low_risk
9849    low_risk  low_risk
31916   low_risk  low_risk
29415   low_risk  low_risk
8712    low_risk  low_risk
38815   low_risk  low_risk
50649   low_risk  low_risk
31530   low_risk  low_risk
51357   low_risk  low_risk
62608   low_risk  low_risk
31536   low_risk  low_risk
67765   low_risk  low_risk
8498    low_risk  low_risk
41311   low_risk  low_risk

In [19]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.994478349317059

In [20]:
# Display the confusion matrix
cm1 = confusion_matrix(y_test, predictions)
cm1_df = pd.DataFrame(
    cm1, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm1_df)

          Predicted 0  Predicted 1
Actual 0           31           61
Actual 1           34        17079

In [21]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

   high_risk       0.48      0.34      0.39        92
    low_risk       1.00      1.00      1.00     17113

    accuracy                           0.99     17205
   macro avg       0.74      0.67      0.70     17205
weighted avg       0.99      0.99      0.99     17205